<div class="widget">
    <div class="title">
        <h4>{{ vm.title | translate:{ name: vm.formData.name } }}</h4>
    </div>
    <form name="myForm" controller="formController" form-for="vm.formData" validation-rules="vm.validationRules.rules" submit-with="vm.submit(data)" validation-failed="vm.validationFailed()" submit-error="vm.submitFailed(error)">
        <select-field allowBlank="false" label="{{'Categories.Title' | translate}}" attribute="categoryId" options="vm.formData.categories" required>
        </select-field>
        <label>{{'Attributes.Type' | translate}}</label>
        <select-field attribute="type" options="[{value: 'string', label: 'String'},{value: 'int', label: 'Integer'}, {value: 'bool', label: 'Boolean'}]"></select-field>
        <label>{{'Attributes.Filter' | translate}}</label>
        <select-field attribute="filter" options="[{value: 'Y', label: 'Yes'},{value: 'N', label: 'No'}]"></select-field>
        <label>{{'Common.Position' | translate}}</label>
        <text-field attribute="position" placeholder="{{'Common.Position' | translate}}"></text-field>
        <label>{{'Attributes.Template' | translate}}</label>
        <text-field attribute="template" placeholder="{{'Attributes.Template' | translate}}" help="Attribute's suffix(example: MB)"></text-field>
        <label>{{'Common.Name' | translate}}</label>
        <text-field disable="vm.disableName" attribute="name" autofocus placeholder="{{'Common.Name' | translate}}"></text-field>
        <p ng-hide="!vm.disableName" class="bg-info">Choose category first</p>
        <!-- <label>{{'Categories.Title' | translate}}</label> -->
        <!-- <button name="categoryId" type="button" class="btn btn-default" ng-model="vm.formData.categoryId" data-html="0" ng-options="item.id as item.title for item in vm.formData.categories" bs-select placeholder="{{'Choose' | translate}}" required>
            Action <span class="caret"></span>
        </button> -->
        <submit-button ng-show="!myForm.categoryId.$error.required" button-class="btn btn-success pull-right" label="{{'Save' | translate}}"></submit-button>
    </form>
    <div ng-show="!vm.disableName">
        <p class="lead bg-info">Already used names: </p>
        <ul>
            <li ng-repeat="attribute in vm.usedAttributes">
                <span>{{ attribute.name }}</span>
            </li>
        </ul>
    </div>
</div>
