<div id="sidebar-wrapper">
    <ul class="sidebar">
        <li class="sidebar-main">
            <a ng-click="shell.toggleSidebar()">
            {{'Dashboard' | translate}}
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>{{'NAVIGATION' | translate}}</span>
        </li>
        <li class="sidebar-list">
            <a href="#">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
    </ul>
    <div class="sidebar-footer">
        <div class="col-xs-4">
            <a href="https://github.com/Ehesp/Responsive-Dashboard" target="_blank">
            Github
          </a>
        </div>
        <div class="col-xs-4">
            <a href="#" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
            <a href="#">
            Support
          </a>
        </div>
    </div>
</div>
